.nft-detail-page {
    .image_position {
        position: absolute;
        top: 0;
        left: 0;
    }
    .nft-detail {
        padding-top: 180px;
        .item_info {
            padding-left: 60px;
            .item_detail_head {
                h2 {
                    font-size: 40px;
                    line-height: 48px;
                }
                p {
                    font-size: 16px;
                    color: $white;
                    @include theme("themeLight", color, $text-light);
                    font-weight: 500;
                    margin-bottom: 0;
                    strong {
                        font-weight: 700;
                        color: $white;
                        @include theme("themeLight", color, $text-light);
                    }
                }
                margin-bottom: 25px;
            }
            .item_detail_content {
                p {
                    font-size: 16px;
                    color: $general;
                    font-weight: 500;
                    margin-bottom: 5px;
                    strong {
                        font-weight: 700;
                        color: $white;
                        @include theme("themeLight", color, $text-light);
                    }
                    &.item_detail_price {
                        color: #00b2fe;
                        font-size: 18px;
                        margin-top: 20px;
                        display: flex;
                        i {
                            background: linear-gradient(
                                211.71deg,
                                #00eaff 13.69%,
                                #0080ff 32.04%,
                                #8000ff 49.84%,
                                #e619e6 68.2%,
                                #ff0000 86.31%
                            );
                            padding: 7px;
                            border-radius: 55%;
                            font-size: 0;
                            margin-right: 5px;
                            // display: inline-block;
                            img {
                                max-width: 17px;
                            }
                        }
                        strong {
                            color: #00b2fe;
                        }
                    }
                }
                .author-details {
                    margin-top: 30px;
                }
                .item_author {
                    .author_list_pp {
                        margin-left: 0;
                    }
                    .author_list_info {
                        padding-top: 3px;
                        padding-left: 60px;
                        h6 {
                            margin-bottom: 5px;
                            color: $general;
                            font-size: 14px;
                        }
                        span {
                            @include theme("themeLight", color, $text-light);
                        }
                    }
                }
                .detail_properties {
                    // margin-top: 30px;
                    // margin-bottom: 30px;
                    h6 {
                        font-size: 16px;
                        color: $general;
                    }
                }
                .de_tab {
                    background: #0e193b;
                    @include theme("themeLight", background, $white);
                    backdrop-filter: blur(50px);
                    /* Note: backdrop-filter has minimal browser support */
                    .de_tab_content {
                        padding: 30px 20px;
                    }
                    border-radius: 0px 0px 5px 5px;
                    .p_list {
                        display: flex;
                        align-items: center;
                        .author_list_pp {
                            position: relative;
                            margin-left: 0;
                            margin-top: 0;
                        }
                        .p_list_info {
                            padding-left: 15px;
                            b {
                                @include theme("themeLight", color, $text-light);
                            }
                        }
                    }
                    .de_nav {
                        margin-bottom: 0;
                        background: linear-gradient(
                            90deg,
                            rgba(244, 5, 201, 0.07) -1.88%,
                            rgba(57, 147, 255, 0.07) 129.09%
                        );
                        border: 1px solid #282a53;
                        border-top-left-radius: 8px;
                        border-top-right-radius: 8px;
                        @include theme("themeLight", border, 0px);
                        li {
                            padding: 2px;
                            span {
                                margin-right: 0;
                                font-size: 16px;
                                font-weight: 700;
                                padding: 15px 40px;
                                @include theme("themeLight", color, $text-light);
                            }
                            &.active {
                                background: rgb(254, 0, 199);
                                background: linear-gradient(
                                    90deg,
                                    rgba(254, 0, 199, 1) 0%,
                                    rgba(9, 9, 121, 1) 100%,
                                    rgba(0, 132, 254, 1) 100%
                                );
                                border-top-left-radius: 8px;
                                border-top-right-radius: 8px;
                                span {
                                    // background: linear-gradient(
                                    //     90deg,
                                    //     rgba(244, 5, 201, 0.07) -1.88%,
                                    //     rgba(57, 147, 255, 0.07) 129.09%
                                    // );
                                    border-top-left-radius: 8px;
                                    border-top-right-radius: 8px;
                                    background: #192754;
                                    @include theme("themeLight", color, $text-light);
                                    @include theme("themeLight", background, $white);
                                    opacity: 0.9;
                                    @include theme("themeLight", opacity, 1);
                                    @include theme("themeLight", box-shadow, 0px 0px 20px 5px #cacaca inset);
                                }
                            }
                        }
                    }
                }
                .auction_endsin {
                    // background: linear-gradient(90deg, rgba(244, 5, 201, 0.2) -1.88%, rgba(57, 147, 255, 0.2) 129.09%);
                    background: #111f48;
                    border-radius: 5px;
                    max-width: 220px;
                    margin: 0 auto;
                    margin-right: 0;
                    margin-top: 20px;
                    margin-bottom: -25px;
                    .de_countdown {
                        background: none;
                        font-size: 20px;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        padding: 10px;
                        // padding: 17px 30px;
                        margin-left: 0;
                        margin-bottom   : 0;
                        div {
                            color: $white !important;
                            background: none !important;
                            padding-top: 5px;
                            -webkit-text-fill-color: $white;
                        }
                        p {
                            font-size: 13px;
                            margin-bottom: 0;
                            line-height: 2.5em;
                        }
                    }
                }
            }
        }
    }
    .nft-detail-image {
        text-align: left;
    }
    .nft-bottom-detail {
        h3 {
            margin-top: 30px;
            font-size: 18px;
            color: $white;
            opacity: 0.5;
            margin-bottom: 25px;
            text-align: left;
        }
        ul {
            display: flex;
            padding: 0;
            list-style: none;
            li {
                font-size: 16px;
                margin-right: 25px;
                a {
                    color: $white;
                    @include theme("themeLight", color, $text-light);
                    text-decoration: none;
                    display: flex;
                    i {
                        margin-right: 8px;
                        margin-top: -2px;
                        img {
                            width: 20px;
                        }
                    }
                    span {
                        border-bottom: 1px solid $general;
                    }
                }
            }
        }
    }
}
.nft_detail_popup {
    &.checkout {
        .modal-style-1 {
            .heading {
                .subtotal {
                    color: $white;
                    @include theme("themeLight", color, $text-light);
                }
            }
            .form-header {
                margin-bottom: 35px;
                p {
                    // font-size: 24px;
                    color: $white;
                    margin-bottom: 0;
                    @include theme("themeLight", color, $text-light);
                    span {
                        color: $white;
                        @include theme("themeLight", color, $text-light);
                    }
                }
            }
            .buy-detail-table {
                margin-bottom: 30px;
                .heading {
                    margin-bottom: 20px;
                    p {
                        font-size: 16px;
                    }
                    .subtotal {
                        font-size: 16px;
                    }
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
                .bid_options {
                    p {
                        span {
                            color: $white;
                            @include theme("themeLight", color, $text-light);
                            float: right;
                        }
                    }
                    .detailcheckout {
                        h6 {
                            color: $white;
                            @include theme("themeLight", color, $text-light);
                        }
                        .form-control {
                            color: $white;
                            @include theme("themeLight", color, $text-light);
                        }
                    }
                }
                &.cancel-listing-table{
                    margin-top:70px;
                }
            }
            .total-pay {
                background: $gradient2;
                @include theme("themeLight", background, $white);
                @include theme("themeLight", box-shadow, 0px 0px 40px 5px #cacaca inset);
                backdrop-filter: blur(80px);
                /* Note: backdrop-filter has minimal browser support */
                padding: 30px;
                border-radius: 10px;
                .heading {
                    margin: 0;
                    p {
                        font-size: 18px;
                        color: $white;
                        @include theme("themeLight", color, $text-light);
                    }
                    .subtotal {
                        font-size: 32px;
                        color: #00b2fe;
                    }
                }
            }
            .buy-popup-image {
                background: $gradient2;
                @include theme("themeLight", background, $white);
                @include theme("themeLight", box-shadow, 0px 0px 70px 5px #cacaca inset);
                backdrop-filter: blur(80px);
                /* Note: backdrop-filter has minimal browser support */
                margin-left: 30px;
                border-radius: 10px;
                padding: 10px;
                @media screen and (max-width:767px){
                    margin-left:0;
                }
                .buy-popup-img {
                    margin-bottom: 20px;
                    img {
                        border-radius: 10px;
                    }
                }
                .buy-popup-imgdesc {
                    padding: 0 10px;
                    h2 {
                        font-size: 16px;
                        line-height: 20px;
                        margin-bottom: 5px;
                    }
                    p {
                        margin-bottom: 15px;
                        font-size: 16px;
                        color: #6670a6;
                    }
                    .buy-popup-price {
                        p {
                            font-size: 16px;
                            color: #00b2fe;
                            i {
                                color: #00b2fe;
                            }
                        }
                    }
                }
            }
        }
    }
}
.detail_button {
    .btn-main {
        width: 100%;
        background: linear-gradient(95.16deg, #fe00c7 2.64%, #0084fe 100%);
        border: 0px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        padding: 15px;
        font-weight: 700;
        font-size: 16px;
        
    }
    .auction_ended {
        margin-top: 15px;
        margin-bottom: 15px;
        text-transform: capitalize;
    }
}
