.profile-header {
    .navbar {
        background: rgba($navstickyDark, 0.9);

        .themeLight & {
            background: rgba(241, 251, 255, 0.8);
        }
    }
}
.d_profile {
    margin-bottom: 40px;
  }
// @include theme('themeLight',  background, rgba(241, 251, 255, 0.8));

.nft-profile-details {
    padding-top: 0;
    margin-top: -75px;
    padding-bottom: 0;
    background: $gradient1;
    @include theme('themeLight', background, $white);

    .profile_follow {
        @media screen and (max-width:767px) {
            margin-top: 30px;
            margin-bottom: 30px;
        }

        // margin-top: 110px;
        .profile_follower {
            font-size: 18px;
            margin-right: 20px;
            font-weight: 600;
            @include theme('themeLight', font-weight, 400);

            span {
                color: $white;
                @include theme('themeLight', color, $text-light);
                @include theme('themeLight', font-weight, 600);
            }
        }
    }

    .profile_avatar {
        display: block;

        .profile-avatar-image {
            position: relative;

            i {
                color: $white;
                background: $pink_col;
                margin: 110px 0 0 110px;
                display: block;
                position: absolute;
                padding: 10px;
                border-radius: 100%;
                -moz-border-radius: 100%;
                -webkit-border-radius: 100%;
                bottom: 0;
            }
        }

        .profile_name {
            margin-top: 25px;
            display: block;

            // margin-left: 20px;
            .profile_username {
                font-size: 16px;
                display: block;
                color: $pink_col;
            }

            h4 {
                font-size: 24px;
                line-height: 1.3em;
            }
        }

        .profile-username-cta {
            display: flex;

            .profile-username {
                margin-right: 20px;

                .profile_username {
                    font-size: 20px;
                    color: $color_primary;
                }

            }

            .profile-cta {
                font-weight: 500;

                .profile_wallet {
                    font-size: 18px;
                    color: $white;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 200px;
                    overflow: hidden;
                    float: left;
                    @include theme('themeLight', color, $text-light);
                }

                span#btn_copy {
                    cursor: pointer;
                    color: $white;
                    @include theme('themeLight', color, $text-light);
                }
            }
        }

        img {
            object-fit: cover;
            display: flex;
            align-items: center;
            border-radius: 100%;
            -moz-border-radius: 100%;
            -webkit-border-radius: 100%;
            width: 150px;
            height: 150px;
        }
    }

    .profileDescription {
        margin-top: 30px;
        // margin-left: 20px;
        margin-bottom: 40px;

        @media screen and (max-width:767px) {
            margin: 0;
        }
    }

    .profileSocial {
        display: flex;
        padding-left: 0;

        li {
            list-style: none;
            margin-right: 30px;

            a {
                color: $white;
                @include theme('themeLight', color, $text-light);
            }
        }
    }

    .d_profile {
        margin-bottom: 50px;

        @media screen and (max-width:768px) {
            display: block;

            .de-flex-col {
                display: block;
            }
        }
    }

    .nft-profile-tabs {
        background: #06142d;
        @include theme('themeLight', background, $background_light);

        .items_filter {
            border-bottom: 1px solid $item__border_color;

            .de_nav {
                &.text-left {
                    margin: 0;
                    text-align: center !important;
                }

                li {
                    margin-left: 50px;
                    margin-right: 50px;

                    @media screen and (max-width:1199px) {
                        margin-left: 20px;
                        margin-right: 20px;
                    }

                    @media screen and (max-width:767px) {
                        margin-left: 0px;
                        margin-right: 0px;
                    }

                    span {
                        color: $general;
                        border: 0;
                        border-bottom: 1px solid $general;
                        margin-right: 0;
                        padding-left: 30px;
                        padding-right: 30px;

                        @media screen and (max-width:767px) {
                            padding-left: 15px;
                            padding-right: 15px;
                            display: flex;
                            flex-direction: column;
                        }

                        strong {
                            background-color: $general;
                            color: $white;
                            @include theme('themeLight', color, $text-light);
                            @include theme('themeLight', background, $white);
                            padding: 2px 6px;
                            border-radius: 15px;
                        }
                    }

                    &.active {
                        span {
                            color: $color_primary;
                            border-color: $color_primary;

                            strong {
                                background-color: $color_primary;
                                @include theme('themeLight', color, $white);
                            }
                        }
                    }
                }
            }
        }
    }

    .de_countdown {
        position: absolute;
        top: 60%;
        left: 9%;
        background-color: #ffffff;
        font-size: 17px;
        font-weight: 700;
        justify-content: center;
        display: flex;
        width: 80%;
        color: $white;
        z-index: 1;
    }

    .author_list_pp {
        position: static;

        @media screen and (max-width:1400px) {
            margin-left: 0;
        }
    }

    .profile-banner-details {
        @media screen and (max-width:767px) {
            display: block;
        }
    }
}

#profile_banner {
    min-height: 600px;

    @media screen and (max-width:575px) {
        min-height: 250px !important;
    }
}