.search-page {
    .search-query {
      color: #00b2eb;
      font-size: 30px;
    }
  
    .MuiTabs-root {
      button {
        font-size: 15px;
        font-weight: 700;
        color: white;
      }
    }
  }